<% form_for [@business_process,@path] do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => "title" %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description, :class => "text", :rows => 3, :cols => 60 %>
    </p>

    <p>
      <%= f.label :points %><br />
			<%= f.select :points, [0, 0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100] %>
    </p>

     <p>
      <!--  f.label :tag_names   f.text_field :tag_names   -->
       <%= h f.label :fbstyle_tag_tokens, "Tag Names" %><br />
       <%= h f.text_field :fbstyle_tag_tokens , "data-pre" => @path.tags.map(&:attributes).to_json %>
    </p>


 <!--  developers  -->
    <p>
       <%= h f.label :fbstyle_devloper_tokens, "developers" %><br />
       <%= h f.text_field :fbstyle_devloper_tokens , "data-pre" => @cur_path_dev_assgn.map(&:attributes).to_json %>
    </p>

    <h3>Steps in Path</h3>
    <ol>
      <% f.fields_for :steps do |builder| %>
      <%   p builder.object %>
     	  <% if builder.object.new_record? && @available_steps %>
       	  <li>
       	  	<%= builder.select :business_process_element_id, @available_steps.map {|e| [e.name + " (" + e.element_type + ")", e.id]},{}, {:style => "width:200px"} %>
            <p>
              <%= builder.label :comment %><br />
              <%= builder.text_area :comment, :rows => 3 %><br />
            </p>
            <%= builder.check_box :_destroy, :class=>"deletes", :style => "display: none;" %>
				  </li>
        <% else %>
      	  <li>
      	  	<%= builder.select :business_process_element_id, [builder.object.business_process_element.name + " (" + builder.object.business_process_element.element_type + ")", builder.object.id],{}, {:disabled => true, :style => "width:200px"} %>
            <%= builder.text_area :comment, :rows => 4, :style => "width: 500px" %>
            <%= builder.check_box :_destroy, :class=>"deletes" %>
				    <%= builder.label :_destroy, "Remove Step" %>
      	  </li>
        <% end %>
      <% end %>
    </ol>
  </fieldset>

  <p><%= f.submit %></p>
<% end %>

