- title "Paths for " + @business_process.name, false

%ul{:id => "breadcrumb"}
  %li{:class => "first"}= link_to "Business Processes", business_processes_path
  %li= @business_process.name

#title
  %span
    Paths

.pagination
  = will_paginate @paths

.content
  %table{:class => ["pretty", "striped"]}
    %tr
      %th= sortable @paths, "id"
      %th= sortable @paths, "name"
      %th= sortable @paths, "priority"
      %th= sortable @paths, "estimated_delivery_date", "Est. Delivery Date"
      %th Description
      %th Mapping Status
      %th Status
      %th Points
      %th= sortable @paths, "updated_at", "Last Updated"
      %th{:colspan =>7, :style => "text-align: center;"}
        Actions

    -for path in @paths
      %tr
        %td=h path.id
        %td=h path.name
        %td=h path.priority
        %td= pretty_date(path.estimated_delivery_date)
        %td=h path.description
        %td= status_iconifier(path.status)
        %td= path.life_cycle_status
        %td= path.points
        %td= pretty_date_time(path.updated_at)
        %td= action(current_user, :show, @business_process, path)
        %td= action(current_user, :edit, @business_process, path)
        %td= action(current_user, :delete, @business_process, path)
        %td= action(current_user, :copy, @business_process, path)
        - if path.issues.count > 0
          %td= action(current_user, :existing_issues, path, :issues)
        - else
          %td= action(current_user, :issues, path, :issues)
        %td= action(current_user, :show_mappings, path, Step.new)
        %td= watching path, current_user

  %p
    = link_to "New Path", new_business_process_path_path(@business_process), :class=>"button"
    = link_to "Back to All Business Processes", business_processes_path, :class=>"button"

.pagination
  = will_paginate @paths

