<% content_for :head do %>
  <%= javascript_include_tag 'jstree/jquery.jstree.js' %>
<% end %>

<script type="text/javascript">
$(function () {
	$("#lba_tree")
//		.bind("loaded.jstree", function (event, data) {
//			alert("TREE IS LOADED");r
//		})

		.bind("create.jstree", function (e, data) {
			switch(data.rslt.obj.attr("rel")) {
				case "lbo":
					$.post(
						"<%= lbos_path %>",
						{ "lbo" : {"business_area_id" : data.rslt.parent.attr("id"), "name" : data.rslt.name}	},
						function (r) {
							$(data.rslt.obj).attr("id", r.lbo.id);
							$(data.rslt.obj).children("a").addClass(data.rslt.obj.attr("rel"));
							$(data.rslt.obj).children("a").attr("href", "<%= lbos_path %>/" + r.lbo.id);
						},
						"json"
					);
					break;
				case "lba":
					$.post(
						"<%= business_areas_path %>",
						{ "business_area" : {"parent_id" : data.rslt.parent.attr("id"), "name" : data.rslt.name}	},
						function (r) {
							$(data.rslt.obj).attr("id", r.business_area.id);
							$(data.rslt.obj).children("a").addClass(data.rslt.obj.attr("rel"));
							$(data.rslt.obj).children("a").attr("href", "<%= business_areas_path %>/" + r.business_area.id);
						},
						"json"
					);
					break;
				case "fwu":
					$.post(
						"<%= functional_work_units_path %>",
						{ "functional_work_unit" : {"business_area_id" : data.rslt.parent.attr("id"), "name" : data.rslt.name}	},
						function (r) {
							$(data.rslt.obj).attr("id", r.functional_work_unit.id);
							$(data.rslt.obj).children("a").addClass(data.rslt.obj.attr("rel"));
							$(data.rslt.obj).children("a").attr("href", "<%= functional_work_units_path %>/" + r.functional_work_unit.id);
						},
						"json"
					);
					break;
				case "feature":
					$.post(
						"<%= features_path %>",
						{ "feature" : {"functional_work_unit_id" : data.rslt.parent.attr("id"), "name" : data.rslt.name}	},
						function (r) {
							$(data.rslt.obj).attr("id", r.feature.id);
							$(data.rslt.obj).children("a").addClass(data.rslt.obj.attr("rel"));
							$(data.rslt.obj).children("a").attr("href", "<%= features_path %>/" + r.feature.id + '/edit');
						},
						"json"
					);
					break;
			};
		})
		.bind("rename.jstree", function (e, data) {
			switch(data.rslt.obj.attr("rel")) {
				case "lbo":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= lbos_path %>/" + data.rslt.obj.attr("id"),
						data: { "lbo" : {"name" : data.rslt.new_name}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
				case "fwu":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= functional_work_units_path %>/" + data.rslt.obj.attr("id"),
						data: { "functional_work_unit" : {"name" : data.rslt.new_name}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
				case "feature":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= features_path %>/" + data.rslt.obj.attr("id"),
						data: { "feature" : {"name" : data.rslt.new_name}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
				case "lba":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= business_areas_path %>/" + data.rslt.obj.attr("id"),
						data: { "business_area" : {"name" : data.rslt.new_name}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
			};
		})

		.bind("remove.jstree", function (e, data) {
		  switch(data.rslt.obj.attr("rel")) {
			  case "lbo":
				  $.ajax({
					  async : false,
					  type: 'DELETE',
					  url: "<%= lbos_path %>/" + data.rslt.obj.attr("id"),
					  data: { "id" : data.rslt.obj.attr("id")},
					  success : function (r) {
//							data.inst.refresh();
					  }
				  });
				  break;
			  case "fwu":
				  $.ajax({
					  async : false,
					  type: 'DELETE',
					  url: "<%= functional_work_units_path %>/" + data.rslt.obj.attr("id"),
					  data: { "id" : data.rslt.obj.attr("id")},
					  success : function (r) {
//							data.inst.refresh();
					  }
				  });
				  break;
			  case "feature":
				  $.ajax({
					  async : false,
					  type: 'DELETE',
					  url: "<%= features_path %>/" + data.rslt.obj.attr("id"),
					  data: { "id" : data.rslt.obj.attr("id")},
					  success : function (r) {
//							data.inst.refresh();
					  }
				  });
				  break;
			  case "lba":
				  $.ajax({
					  async : false,
					  type: 'DELETE',
					  url: "<%= business_areas_path %>/" + data.rslt.obj.attr("id"),
					  data: { "id" : data.rslt.obj.attr("id")},
					  success : function (r) {
//							data.inst.refresh();
					  }
				  });
				  break;
  	  };
		})

		.bind("move_node.jstree", function (e, data) {
			switch(data.rslt.o.attr("rel")) {
				case "lbo":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= lbos_path %>/" + data.rslt.o.attr("id"),
						data: { "lbo" : {"business_area_id" : data.rslt.np.attr("id")}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
				case "fwu":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= functional_work_units_path %>/" + data.rslt.o.attr("id"),
						data: { "functional_work_unit" : {"business_area_id" : data.rslt.np.attr("id")}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
				case "feature":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= features_path %>/" + data.rslt.o.attr("id"),
						data: { "feature" : {"functional_work_unit_id" : data.rslt.np.attr("id")}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
				case "lba":
					$.ajax({
						async : false,
						type: 'PUT',
						url: "<%= business_areas_path %>/" + data.rslt.o.attr("id"),
						data: { "business_area" : {"parent_id" : data.rslt.np.attr("id")}	},
						success : function (r) {
//							data.inst.refresh();
						}
					});
					break;
			};
		})


		.jstree({
			"core" : {"animation" : 100,
								"initially_open" : ["root"] },
//	  "json_data" : { data : "Root node",
//	  								ajax : {
//	  									url: "business_areas/index.json",
//	  									data : function (n) {
//														   return { id : n.attr ? n.attr("id") : 0 };
//														 }
//	  								}
//	  },
			"types" : {
				"max_depth" : -2,
				"max_children" : -2,
				"valid_children": ["root"],
				"types" : {
					"root" : {
						"valid_children" : ["lba"],
						"icon" : {
							"image" : "/icons/application_cascade.png"
						}
					},
					"lba" : {
						"valid_children": ["lba", "lbo", "fwu"],
						"icon" : {
							"image" : "/icons/package.png"
						}
					},
					"lbo" : {
						"valid_children" : ["none"],
						"icon" : {
							"image" : "./icons/brick.png"
						}
					},
					"fwu" : {
						"valid_children" : ["feature"],
						"icon" : {
							"image" : "./icons/plugin.png"
						}
					},
					"feature" : {
						"valid_children" : ["none"],
						"icon" : {
							"image" : "./icons/bullet_black.png"
						}
					}
				}
			},
	    "html_data" : { data : "<li id='root' rel='root' class='jstree-closed'><a href='#'>Business Areas</a></li>",
											state: "closed",
	  	  							ajax : {
	  		  							url: "/business_areas/lba_children.html",
	  			  						data : function (n) {
//	  			  										 alert("id = " + n.attr("id"));
						  								   return { id : n.attr ? n.attr("id") : 0, rel: n.attr ? n.attr("rel") : "" };
							  							 }
	  						  		}
  	  },
  	"ui" : {"select_limit" : 1},
  	"contextmenu" : {
  		"items" : {
 				"create" : {
        	"label"				: "Create",
    	  	"action"			: function (obj) { return false; },
        	"icon"				: '/icons/add.png',
        	"submenu"			: {
     				"add_lba" : {
            	"label"				: "Business Area",
		        	"action"			: function (obj) { this.create(obj, "last", { "attr" : { "rel" : "lba" } } ); },
            	"icon"				: '/icons/package_add.png'
            },
     				"add_lbo" : {
            	"label"				: "LBO",
		        	"action"			: function (obj) { this.create(obj, "last", { "attr" : { "rel" : "lbo" } } ); },
            	"icon"				: '/icons/brick_add.png'
            },
     				"add_fwu" : {
            	"label"				: "FWU",
		        	"action"			: function (obj) { this.create(obj, "last", { "attr" : { "rel" : "fwu" } } ); },
            	"icon"				: '/icons/plugin_add.png'
            },
     				"add_feature" : {
            	"label"				: "Feature",
		        	"action"			: function (obj) { this.create(obj, "last", { "attr" : { "rel" : "feature" } } ); },
            	"icon"				: '/icons/bullet_black.png'
            }
        	}
        },
				"rename" : {
  	    	"label"				: "Rename",
    	  	"action"			: function (obj) { this.rename(obj); },
      		"icon"				: '/icons/pencil.png'
      	},
				"remove" : {
  	    	"label"				: "Delete",
    	  	"action"			: function (obj) { if (confirm('Are you sure you want to delete this?')) { this.remove(obj);};  },
      		"icon"				: '/icons/delete.png'
      	},
				"ccp" : {
  	    	"label"				: "Edit",
  	    	"_disabled"   : true
      	}
  		}
  	},
		"plugins" : [ "themes", "html_data", "types", "ui", "crrm", "dnd", "contextmenu" ]
	});
});
</script>

<% title "Business Areas", false %>
<h3>Business Areas</h3>

<div class="push-1 span-22 last">
  <div class="span-10 colborder">
	  <div class="span-10">
			<button class="button" id="open_all">Open All</button>
			<button class="button" id="close_all">Close All</button>
			<button class="button" id="open_current">Open Selected</button>
			<button class="button" id="close_current">Close Selected</button>
		</div>
	  <div class="span-10">
			<div id="lba_tree" style="overflow: auto;"></div>
		</div>
	</div>
  <div class="span-11 last details" style="height: 500px; overflow: auto; position: fixed">
  </div>
</div>

<script type="text/javascript">
$(function () {
	$("#add_lba, #add_lbo, #add_fwu, #add_feature").click(function () {
	  $("#lba_tree").jstree("create", null, "last", { "attr" : { "rel" : this.id.toString().replace("add_", "") } });
  });
	$("#remove, #rename").click(function () {
    $("#lba_tree").jstree(this.id);
  });
	$("#open_all").click(function () {
	  $("#lba_tree").jstree("open_all");
  });
	$("#close_all").click(function () {
	  $("#lba_tree").jstree("close_all");
  });
	$("#open_current").click(function (e,data) {
	  $("#lba_tree").jstree("open_all", ".jstree-clicked");
  });
	$("#close_current").click(function (e,data) {
	  $("#lba_tree").jstree("close_all", ".jstree-clicked");
  });
});
</script>







<% if false %>
<div class="push-1 span-22 last">
  <div class="span-11">
	  <%= will_paginate @business_areas %>
  </div>
  <div class="span-11 last" style="text-align:right;">
  	<%= page_entries_info @business_areas %>
  </div>
</div>

<div class="push-1 span-22 last">
  <table class="pretty">
    <tr>
      <th><%= sortable @business_areas, "name" %></th>
      <th><%= sortable @business_areas, "updated_at", "Last Updated" %></th>
      <th colspan=3>Actions</th>
    </tr>
    <% for business_area in @business_areas %>
      <tr>
        <td><%=h business_area.name %></td>
        <td><%=h business_area.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= link_to "Show", business_area %></td>
        <td><%= link_to image_tag('/icons/pencil.png', :alt=> "Edit"), edit_business_area_path(business_area), :title=> 'Edit' %></td>
        <td><%= link_to image_tag('/icons/bin_closed.png', :mouseover => image_path('/icons/bin.png'), :alt=> "Delete"), business_area, :confirm => 'Are you sure?', :method => :delete, :title=> 'Delete' %></td>
      </tr>
    <% end %>
  </table>
	<p><%= link_to "New Business Area", new_business_area_path %></p>
</div>
<% end %>
