<% title "Assignment" %>

<p>
  <strong>User:</strong>
  <%=h @assignment.user_id %>
</p>
<p>
  <strong>Role:</strong>
  <%=h @assignment.role_id %>
</p>

<p>
  <%= link_to "Edit", edit_assignment_path(@assignment) %> |
  <%= link_to "Destroy", @assignment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", assignments_path %>
</p>
