- if @issueable.class == BusinessProcess
  - back_to = @issueable.class.name.tableize.to_sym
- elsif @issueable.class == Path
  - back_to = [@issueable.business_process, @issueable.class.name.tableize.to_sym]

- title "Issues of #{@issueable.class}", false

%ul{:id => "breadcrumb"}
  %li{:class => "first"}= link_to @issueable.class.name.titleize.pluralize, back_to
  %li= @issueable.name

#title
  %span
    Issues of #{@issueable.class} "#{@issueable.name}"

.content
  %table{:class => ["pretty", "striped"]}
    %tr
      %th Name
      %th Description
      %th Status
      %th Severity
      %th Type
      %th Source
      %th Assigned To
      %th Created By
      %th Bug
      %th{:colspan =>2, :style => "text-align: center;"}
        Actions

      - for issue in @issues
        %tr
          %td= issue.name
          %td= issue.description.html_safe
          %td= issue.status
          %td= issue.severity
          %td= issue.issue_type
          %td= issue.source
          %td= issue.user.username if issue.user
          %td= issue.owner.username if issue.owner
          %td= issue.bug_number
          %td= link_to "Edit", edit_polymorphic_path([@issueable, issue])
          %td= link_to "Delete", issue, :confirm => 'Are you sure?', :method => :delete

= link_to "Add Issue", new_polymorphic_path([@issueable, :issue]), :class => "button"
= link_to "Back to All #{@issueable.class.name.titleize.pluralize}", @issueable.class.name.tableize.to_sym, :class=>"button"

