<% content_for :head do %>
  <%= javascript_include_tag 'jstree-read-only/jquery.jstree.js' %>
<% end %>

<script type="text/javascript">
$(function () {
	$("#lba_tree")
		.bind("check_node.jstree", function (e, data) {
			switch(data.rslt.obj.attr("rel")) {
				case "lbo":
					break;
				case "lba":
					break;
				case "fwu":
					break;
				case "feature":
					$.ajax({
					  type: 'POST',
  					url: "<%= bam_to_fam_features_path %>",
  					context: $(this),
						data: { "feature_id" : data.rslt.obj.attr("id"), "step_id" : <%= @step.id %> },
						success: function (r) {
						  // Add it to the right side
						  $('#right_side ul').append(r);
						  $('#right_side li:last').effect("highlight", {}, 3000);
						},
						dataType: "html"
					});
					break;
			};
		})
		.bind("uncheck_node.jstree", function (e, data) {
			switch(data.rslt.obj.attr("rel")) {
				case "lbo":
					break;
				case "lba":
					break;
				case "fwu":
					break;
				case "feature":
					$.ajax({
						async : false,
						type: 'DELETE',
						url: "<%= bam_to_fam_features_path %>/-1",
						data: { "feature_id" : data.rslt.obj.attr("id"), "step_id" : <%= @step.id %> },
						success : function (r) {
						  // Remove it to from right side
//						  $('#right_side ul li[id=' + r.bam_to_fam_feature.id + ']').fadeOut(200, function(){$(this).remove()});
						  $('#right_side ul li[id=' + r.bam_to_fam_feature.id + ']').remove();
						},
						dataType: "json"
					});
					break;
			};
		})
		.jstree({
			"core" : {"animation" : 100,
								"initially_open" : ["root"] },
			"types" : {
				"max_depth" : -2,
				"max_children" : -2,
				"types" : {
					"feature" : {
						"valid_children" : ["none"],
						"icon" : {
							"image" : "/icons/bullet_black.png"
						}
					}
				}
			},
	    "html_data" : { data : "<li id='root' rel='root' class='jstree-closed'><a href='#'>Business Areas</a></li>",
											state: "closed",
	  	  							ajax : {
	  		  							url: "/step/<%= @step.id %>/bam_to_fam_map/lba_children.html",
	  			  						data : function (n) {
						  								   return { id : n.attr ? n.attr("id") : 0, rel: n.attr ? n.attr("rel") : "" };
							  							 }
	  						  		}
  	  },
  	"ui" : {"select_limit" : 1},
			"types" : {
				"types" : {
					"root" : {
						"icon" : {
							"image" : "/icons/application_cascade.png"
						}
					},
					"lba" : {
						"icon" : {
							"image" : "/icons/package.png"
						}
					},
					"lbo" : {
						"icon" : {
							"image" : "/icons/brick.png"
						}
					},
					"fwu" : {
						"icon" : {
							"image" : "/icons/plugin.png"
						}
					},
					"feature" : {
						"icon" : {
							"image" : "/icons/bullet_black.png"
						}
					}
				}
			},
		"plugins" : [ "themes", "html_data", "types", "ui", "checkbox" ]
	});
});
</script>

<% title "Mappings for #{@step.element_name}" %>

<div class="push-1 span-22 last">
  <%=link_to "Back to Steps", path_steps_path(@step.path)%>
</div>
<div class="push-1 span-22 last">
  <div class="span-10 colborder">
	  <div class="span-10">
			<button class="button" id="open_all">Open All</button>
			<button class="button" id="close_all">Close All</button>
			<button class="button" id="open_current">Open Selected</button>
			<button class="button" id="close_current">Close Selected</button>
		</div>
	  <div class="span-10">
			<div id="lba_tree" style="overflow: auto;"></div>
		</div>
	</div>
  <div class="span-11 last">
    <div class="span-8 last">
    	<h4>Included Features</h4>
    	<div id="right_side" class="span-8 last">
    	  <ul>
    	    <% for mapped_feature in @mapped_features %>
    	      <%= render :partial => "available_feature", :locals => { :mapped_feature => mapped_feature } %>
    	    <% end %>
    	  </ul>
    	</div>
    </div>
	</div>
</div>
<div class="push-1 span-22 last">
  <%=link_to "Back to Steps", path_steps_path(@step.path)%>
</div>

<script type="text/javascript">
$(function () {
	$("#add_lba, #add_lbo, #add_fwu, #add_feature").click(function () {
	  $("#lba_tree").jstree("create", null, "last", { "attr" : { "rel" : this.id.toString().replace("add_", "") } });
  });
	$("#remove, #rename").click(function () {
    $("#lba_tree").jstree(this.id);
  });
	$("#open_all").click(function () {
	  $("#lba_tree").jstree("open_all");
  });
	$("#close_all").click(function () {
	  $("#lba_tree").jstree("close_all");
  });
	$("#open_current").click(function (e,data) {
	  $("#lba_tree").jstree("open_all", ".jstree-clicked");
  });
	$("#close_current").click(function (e,data) {
	  $("#lba_tree").jstree("close_all", ".jstree-clicked");
  });
});
</script>
