<% title "Bam To Fam Map" %>

<p>
  <strong>Step:</strong>
  <%=h @bam_to_fam_map.step_id %>
</p>
<p>
  <strong>Functional Work Unit:</strong>
  <%=h @bam_to_fam_map.functional_work_unit_id %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @bam_to_fam_map.status %>
</p>

<p>
  <%= link_to "Edit", edit_bam_to_fam_map_path(@bam_to_fam_map) %> |
  <%= link_to "Destroy", @bam_to_fam_map, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", bam_to_fam_maps_path %>
</p>
