<% form_for @build_feature, :html => {:class => defined?(call_type) ? call_type : ""} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= content_tag :button, "Save Changes", :type => :submit, :class => "button" %>
  </p>
<% end %>

