<% if !lbas.nil? %>
  <% for lba in lbas %>
  	<% if lba.children.empty? && lba.lbos.empty? %>
  		<li id=<%= lba.id %> rel="lba" ><%=link_to h(lba.name||"NoName"), lba, :class => 'lba' %></li>
  	<% else %>
  		<li id=<%= lba.id %> rel="lba" class='jstree-closed'><%=link_to h(lba.name||"NoName"), lba, :class => 'lba' %></li>
  	<% end %>
  <% end %>
<% end %>

<% if !lbos.nil? %>
	<% for lbo in lbos %>
  	<% if lbo.build_features.empty? %>
   		<li id=<%= lbo.id %> rel="lbo"><%=link_to h(lbo.name||"NoName"), lbo, :class => 'lbo' %></li>
  	<% else %>
   		<li id=<%= lbo.id %> rel="lbo" class='jstree-closed'><%=link_to h(lbo.name||"NoName"), lbo, :class => 'lbo' %></li>
  	<% end %>
  <% end %>
<% end %>

<% if !bfs.nil? %>
  <% for bf in bfs %>
  	<% if bf.children.empty? %>
  		<li id=<%= bf.id %> rel="build_feature" ><%=link_to h(bf.name||"NoName"), bf, :class => 'bf' %></li>
  	<% else %>
  		<li id=<%= bf.id %> rel="build_feature" class='jstree-closed'><%=link_to h(bf.name||"NoName"), bf, :class => 'bf' %></li>
  	<% end %>
  <% end %>
<% end %>

