<% form_for @watching do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :watchable_id %><br />
    <%= f.text_field :watchable_id %>
  </p>
  <p>
    <%= f.label :watchable_type %><br />
    <%= f.text_field :watchable_type %>
  </p>
  <p>
    <%= f.label :creator %><br />
    <%= f.check_box :creator %>
  </p>
  <p><%= f.submit %></p>
<% end %>
