<% form_for @interface do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :lba_id %><br />
    <%= f.text_field :lba_id %>
  </p>
  <p>
    <%= f.label :iteration_id %><br />
    <%= f.text_field :iteration_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
