<div style='position: <%= defined?(call_type) ? "fixed" : "static" %> '>
  <% form_for @feature, :html => {:class => defined?(call_type) ? call_type : ""} do |f| %>
    <%= f.error_messages %>
      <p>Name: <strong><%= @feature.name %></strong></p>
      <p>Owner: <strong id="owner"><%= @feature.owner.username if @feature.owner %></strong> <%= link_to 'Are YOU the owner?', change_owner_feature_watchings_path(@feature), :class => "button update_owner" %> </p>
    <p>Last Updated By: <strong><%= User.find(@feature.originator).username %></strong></p>
    <p>
      <%= f.label :priority %><br />
			<%= f.select :priority, Feature::PRIORITY %>
    </p>
    <p>
      <%= f.label :feature_type %><br />
			<%= f.select :feature_type, Feature::FEATURE_TYPES, {:include_blank => true} %>
    </p>
    </p>
    <p>
      <%= f.label :scope %><br />
      <%= f.text_field :scope %>
    </p>
    <p>
      <%= f.label :description %>&nbsp;&nbsp;<%= link_to "Show", "#", :class => "button", :id => "toggle_description" %><br />
      <%= f.text_area :description, :id=>"description", :style => 'display:none;' %>
    </p>
    <hr class="space">
    <%= render :partial => "issue_list" %>
    <hr class="space">
    <p>
      <%= content_tag :button, "Save Changes", :type => :submit, :class => "button" %>
    </p>
  <% end %>
<div>


