<% title "Bam To Fam Features" %>

<table>
  <tr>
    <th>Feature</th>
    <th>Bam To Fam Map</th>
  </tr>
  <% for bam_to_fam_feature in @bam_to_fam_features %>
    <tr>
      <td><%=h bam_to_fam_feature.feature_id %></td>
      <td><%=h bam_to_fam_feature.bam_to_fam_map_id %></td>
      <td><%= link_to "Show", bam_to_fam_feature %></td>
      <td><%= link_to "Edit", edit_bam_to_fam_feature_path(bam_to_fam_feature) %></td>
      <td><%= link_to "Destroy", bam_to_fam_feature, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bam To Fam Feature", new_bam_to_fam_feature_path %></p>
