<select id="projects", name="projects">
	<% for project in @bpnames -%>
		<option id="<%= project %>" value="<%= project%>"><%= project %></option>
	<%end%>
</select>	

<div id="select_usecase">
	<%= render :partial => "select_usecase" %>
</div>

<script type="text/javascript">
	document.getElementById("<%= @default_bpname%>").selected = true
</script>
