<script type="text/javascript">
google.load('visualization', '1', {'packages':['annotatedtimeline']});
			$(document).ready(function(){
				 drawChart();
			});
      function drawChart() {
				var dates = <%= @dates.to_json %>
				var effortleft = <%=@effortleft.to_json%>
				var originalestimate = <%=@effortestimate.to_json%>
				var test = <%=@test.to_json%>
<!--				alert(dates) -->
        var data = new google.visualization.DataTable();
				data.addColumn('date', 'Date');
        data.addColumn('number', 'Effort Left (Hours)');
				data.addColumn('string', 'title1');
				data.addColumn('string', 'text1');
        data.addColumn('number', 'Original Estimate (Hours)');
				data.addColumn('string', 'title2');
				data.addColumn('string', 'text2');
				for(i=0; i< dates.length; i++){
					data.addRow([new Date(dates[i]), effortleft[i], undefined, undefined, originalestimate[i], undefined, undefined]);
				}

				var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
				chart.draw(data, {title: <%= @chartLabel.to_json%>});
      }
</script>

 
<div id="chart_div" style='width: 800px; height: 400px;'></div>

