#header
  #top-bar
    .container
      #active-iteration
        Active Iteration:
        - if logged_in? && working_on_iteration?
          = current_user.iteration.name
        - else
          NONE!
      #signin-menu
        - if logged_in?
          Logged in as #{link_to current_user.username, edit_user_path(current_user)} | Not you? #{link_to "Log out", logout_path}
        - else
          #{link_to "Sign up", signup_path} or #{link_to "log in", login_path}

  #logo
    BPAD
  #main-nav
    = render :partial => "shared/mainnav", :locals => {:active_menu_item => yield(:active_menu_item)}

