<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js' %>
    <%= javascript_include_tag 'application.js' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'css3buttons.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.13.custom.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %><![endif]-->

    <%= yield(:head) %>

    <%= stylesheet_link_tag 'blueprint/plugins/fancy-type/screen' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <div id="top_bar">
        <div class="container">
    	    <div class="span-24 last">
    	    
      	    <div class="span-6" id="active_iteration">
        	    Active Iteration:
  	    	    <% if logged_in? && working_on_iteration? %>
  		    	    <span style="color:white; font-weight:bold; background-color: red; padding: 0px 5px 0px 5px;"><%= current_user.iteration.name %>
  		    	    </span>
  	          <% else %>
  		    	    <span style="color:white; font-weight:bold; background-color: red; padding: 0px 5px 0px 5px;">NONE!!!
  		    	    </span>
  	          <% end %>
      	    </div>
    	    
      	    <div class="prepend-9 span-8 last" id="signing_menu">
        	    <% if logged_in? %>
                Logged in as <%= link_to current_user.username, edit_user_path(current_user) %>! Not you?
                <%= link_to "Log out", logout_path %>
              <% else %>
                <%= link_to "Sign up", signup_path %> or
                <%= link_to "log in", login_path %>
              <% end %>
      			</div>
    			</div>
        </div>
      </div>
      <div class="container">
  	    <div class="span-24 last" style="position: relative; height: 120px;">
				  <%= render :partial => "shared/mainnav",
								     :locals => {:active_menu_item => yield(:active_menu_item)} %>
        </div>    
      </div>    
    </div>

    <div class="container">

	    <div class="span-24 last" style="min-height:600px;">
	    <hr class="space"/>

   			<%= yield :subnav %>

  	    <div class="span-24 last">
  	      <%- flash.each do |name, msg| -%>
    	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      	  <%- end -%>
  			</div>

  	    <div class="span-24 last">
  	      <%- if show_title? -%>
    	      <h3><%=h yield(:title) %></h3>
      	  <%- end -%>
  			</div>

  	    <div class="span-24 last">
					<%= yield(:content) or yield %>
  			</div>

			</div>

 			<hr/>
 	    <div class="span-24 last" style="text-align:right;">
 	    	BPAD v0.1&nbsp;&copy;&nbsp;<%= Time.new.year %>
			</div>
    </div>
    
    <div id="env">
      <span><%= RAILS_ENV %></span>
    </div>

  </body>
</html>
