- title "Business Processes", false

%ul{:id => "breadcrumb"}
  %li{:class => "first"}
    Dashboard
  %li{:class => "second"}
    Planning


  
  
#title
  %span
    Path Planning 
  

.content

  %p= link_to "Re-plan (Run Calculation)" , plannings_calc_path , :class=>"button"
  
  %h3 
    Planning variables
    
  %table{:class => ["pretty", "striped"]}
    %tr
      %td= h "Calculated Points Velocity, Per Developer, Per Iteration (PPDI)"
      %td= h @planningRun.ppdi
    %tr     
      %td= h "Number of Iterations Used In PPDI Calculation"
      %td= h @planningRun.number_its_used
    %tr
      %td= h "Number of Paths Planned"
      %td= h @planningRun.number_paths_planned
    %tr
      %td= h "Points Capacity of Iterations Used"
      %td= h @planningRun.iteration_capacity_used
    %tr
      %td= h "Total Points of Planned Paths"
      %td= h @planningRun.points_of_planned_paths
    %tr
      %td= h "Messages from Planning Calculation"
      %td= h @planningRun.messages  
    %tr
      %td= h "No of Future Planned Months In Agilefant"
      %td= h @planningRun.planned_months_in_agilefant 
  
  %h3 
    Iterations    
  %table{:class => ["pretty", "striped"]}
    %tr
      %th= sortable @bis, "Start date"
 
      %th= sortable @bis, "Banked Points"
      %th= sortable @bis, "Bandwidth"
      %th= sortable @bis, "Start Capacity (Points)"
      %th= sortable @bis, "End Capacity (Points)"
      %th= sortable @bis, "Used Capacity (Points)"
     
      -for bi in @bis
        %tr
          %td= h bi.start_date.strftime("%b %y")
          %td= h bi.banked_points
          %td= h bi.resource_count
          %td= h sprintf("%.1f",bi.point_capacity)
          %td= h sprintf("%.1f",bi.post_planning_capacity)
          %td= h sprintf("%.1f",bi.point_capacity-bi.post_planning_capacity)
  
  %h3 
    Planned Paths
  %table{:class => ["pretty", "striped"]}
    %tr
      %th= sortable @allPaths, "Last Path Of"
      %th= sortable @allPaths, "All Tags"
      %th= sortable @allPaths, "Pri."
      %th= sortable @allPaths, "Id"
      %th= sortable @allPaths, "Name"
      %th= sortable @allPaths, "Status"
      %th= sortable @allPaths, "Points"
      %th= sortable @allPaths, "Max Dev"
      %th= sortable @allPaths, "Start"
      %th= sortable @allPaths, "Stop"
      
      -for path in @allPaths
        %tr
          %td= h path.lastTagOccurance
          %td= h path.tags.collect{|tag| tag.name}.join(',')
          %td= h path.priority
          %td= h path.id
          %td= h path.name
          %td= h path.life_cycle_status
          %td= h path.points
          %td= h path.max_developers
          %td= h path.calc_start_it.strftime("%b")
          %td= h path.calc_stop_it.strftime("%b")
          
   
        
    
          
       
         
       

   


